* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: beige;
}

header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 122, 54);
  color: white;
  min-height: 50px;
}

main {
  padding: 16px;
  flex: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main ul {
  min-width: 600px;
}

main ul li {
  display: flex;
  line-height: 32px;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  padding: 4px;
}

main h2 {
  font-weight: 400;
  color: darkolivegreen;
  padding-bottom: 8px;
}

header h1 {
  font-size: 1.6em;
  color: rgb(223, 223, 117);
}

header nav {
  min-width: 300px;
}

header nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

header nav ul li a {
  font-weight: 400;
  text-decoration: none;
  color: rgb(223, 223, 117);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: rgb(241, 241, 188);
  margin-bottom: 8px;
  width: 100%;
}
button {
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(223, 223, 117);
}

label {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}